.canvas-container {
    /* background-color: #edcfe2;  */
    /* background-color: #d6b3e4; */
    /* background-color: #c0bcdd; */
    /* background-color: #b8dced; */
    /* background-color: #8b79ae; */
    /* background-color: #88bcd7; */
    background-color: #d6b4eb;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }